@import url('https://fonts.googleapis.com/css?family=Exo+2:600');

:root{
  /* colors */
  --primary-color:#e9de4d;
  --main-bg-color:#121212;
  --main-bg-darker: #0B0B0B;
  --main-text-color:#EEEEEE;

  /* fonts */
  --title-font: 'Exo 2', sans-serif;
  --main-font: helvetica;

}

body{
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--main-font);
}

a{
  color: var(--primary-color);
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  border-bottom:1px dotted;
}

.container{
  height: 90vh;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
}

.logo h1{
  font-family: var(--title-font);
  color: var(--primary-color);
  font-size: 4rem;
  text-align: center;
  border:solid 0px;
  padding: 0px;
  margin: 0 0 15px 0;
}

.typed-text{
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 30px;
}

#typed{
  margin: 10px 0 10px 0;
  width: auto;
  border:solid 0px;
  text-align:center;
  display: inline-grid;
  font-size: 1.4rem;
  font-family: monospace;
  display:inline;
}

#typed .fa-heart{
  color:#be0c32;
  animation: beat .25s infinite alternate;
	transform-origin: center;
}
@keyframes beat{
	to { transform: scale(1.4); }
}

.typed-cursor {
    font-size: 1.7rem;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: var(--primary-color);
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.social-media{
  font-size: 1.7rem;
  text-align: center;
}

.social-media a{
  color:#333333;
  padding: 5px 2rem;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.social-media a:hover{
  border: none;
  color: var(--primary-color);
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}
