@import url('https://fonts.googleapis.com/css?family=Exo+2:600');

:root{
  /* colors */
  --primary-color:#e9de4d;
  --main-bg-color:#212121;
  --main-text-color:#EEEEEE;

  /* fonts */
  --title-font: 'Exo 2', sans-serif;
  --main-font: helvetica;

  /* layout */
}

body{
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: var(--main-font);
}

a{
  color: var(--primary-color);
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  border-bottom:1px dotted;
}

.container{
  height: 90vh;
  max-width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

.logo h1{
  font-family: var(--title-font);
  color: var(--primary-color);
  font-size: 3rem;
  text-align: center;
  border:solid 0px;

}

.email{
  text-align: center;
  border:solid 0px;
}
